POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=cinephile
DATABASE_URL="postgres://postgres:your_password@localhost:5432/cinephile"

TMDB_API_KEY="your_api_key"
TMDB_BASE_URL="https://api.themoviedb.org/3"